.k-item{
    height: 50px;
    width: 50px;
    padding: 3px;
    margin: 3px;
    float: left;
    border: 1px solid black;
}

.wide_k {
    width: 100px;
}

.clearfix{
    clear: both;
}

.extra-wide {
    width:485px;
}